<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ionis.igem.app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsActivity"
            android:label="@string/title_activity_us"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ionis.igem.app.HomeActivity" />
        </activity>
        <activity
            android:name=".iGEMActivity"
            android:label="@string/title_activity_igem"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ionis.igem.app.HomeActivity" />
        </activity>
        <activity
                android:name=".PresentationActivity"
                android:label="@string/title_activity_presentation"
                android:parentActivityName=".UsActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.ionis.igem.app.UsActivity" />
        </activity>
        <activity
            android:name=".WhatActivity"
            android:label="@string/title_activity_what"
            android:parentActivityName=".iGEMActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ionis.igem.app.iGEMActivity" />
        </activity>
        <activity
            android:name=".SynBioActivity"
            android:label="@string/title_activity_bio"
            android:parentActivityName=".iGEMActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ionis.igem.app.iGEMActivity" />
        </activity>
    </application>

</manifest>
