<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="fr.plnech.igem">

    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens android:resizeable="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"/>

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:replace="android:icon">

        <!-- Main Activities -->
        <activity
                android:name=".ui.HomeActivity"
                android:label="@string/app_name_short"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.GameMenuActivity"
                android:label="@string/title_activity_game"
                android:screenOrientation="portrait"
                android:parentActivityName=".ui.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.HomeActivity"/>
        </activity>
        <activity
                android:name=".ui.GameLevelsActivity"
                android:label="@string/title_activity_game_levels"
                android:screenOrientation="portrait"
                android:parentActivityName=".ui.GameMenuActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.GameMenuActivity"/>
        </activity>
        <activity
                android:name=".ui.UsActivity"
                android:label="@string/title_activity_us"
                android:screenOrientation="portrait"
                android:parentActivityName=".ui.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.HomeActivity"/>
        </activity>
        <activity
                android:name=".ui.iGEMActivity"
                android:label="@string/title_activity_igem"
                android:screenOrientation="portrait"
                android:parentActivityName=".ui.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.HomeActivity"/>
        </activity>
        <activity
                android:name=".ui.CreditsActivity"
                android:label="@string/title_activity_credits"
                android:parentActivityName=".ui.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.HomeActivity"/>
        </activity>

        <!-- GameMenu Activities -->
        <activity
                android:name=".game.PortraitGameActivity"
                android:label="@string/title_activity_game_menu"
                android:screenOrientation="portrait"
                android:parentActivityName=".ui.GameMenuActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.GameMenuActivity"/>
        </activity>
        <activity
                android:name=".game.LandscapeGameActivity"
                android:label="@string/title_activity_game_menu"
                android:screenOrientation="landscape"
                android:parentActivityName=".ui.GameMenuActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.GameMenuActivity"/>
        </activity>
        <activity
                android:name=".ui.GlossaryActivity"
                android:label="@string/title_activity_game_settings"
                android:screenOrientation="fullSensor"
                android:parentActivityName=".ui.GameMenuActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.GameMenuActivity"/>
        </activity>

        <!-- Us Activities -->
        <activity
                android:name=".ui.PresentationActivity"
                android:label="@string/title_activity_presentation"
                android:parentActivityName=".ui.UsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.UsActivity"/>
        </activity>
        <activity
                android:name=".ui.TeamActivity"
                android:label="@string/title_activity_team"
                android:screenOrientation="portrait"
                android:parentActivityName=".ui.UsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.UsActivity"/>
        </activity>
        <activity
                android:name=".ui.SponsorsActivity"
                android:label="@string/title_activity_sponsors"
                android:screenOrientation="portrait"
                android:parentActivityName=".ui.UsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.UsActivity"/>
        </activity>
        <activity
                android:name=".ui.ContactUsActivity"
                android:label="@string/title_activity_contact_us"
                android:parentActivityName=".ui.UsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.UsActivity"/>
        </activity>

        <!-- iGEM Activities -->
        <activity
                android:name=".ui.WhatActivity"
                android:label="@string/title_activity_what"
                android:parentActivityName=".ui.iGEMActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.iGEMActivity"/>
        </activity>
        <activity
                android:name=".ui.SynBioActivity"
                android:label="@string/title_activity_bio"
                android:parentActivityName=".ui.iGEMActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="fr.plnech.igem.ui.iGEMActivity"/>
        </activity>
        <activity
                android:name=".ui.BiobrickActivity"
                android:label="@string/title_activity_biobrick"
                android:parentActivityName=".ui.iGEMActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="fr.plnech.igem.ui.iGEMActivity"/>
        </activity>
        <activity
                android:name=".ui.PartnersActivity"
                android:label="@string/title_activity_partners"
                android:parentActivityName=".ui.iGEMActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="fr.plnech.igem.ui.iGEMActivity"/>
        </activity>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="704f6f3270209fd9bbee18bb16a5c21f5a5e9d75"/>
    </application>

</manifest>
